.root {
  background-image: url("https://rockschool-ro.imgix.net/6.stage-side.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mapContainer {
  max-width: 1100px;
  margin: 0 auto;
  padding: 3rem 1.5rem;
  text-align: center;
}

.infoContainer {
  border-top: 5px solid #2C2C2C;
}

.infoContainerInner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 3rem 1.5rem;
}

.highlightTitle {
  color: #BEBE22;
}

.link {
  cursor: pointer;
}

