.root {
  margin: 3rem 0 2rem;
}

.carouselContainer {
  padding-bottom: 2rem;

  @media screen and (min-width: 500px) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @media screen and (min-width: 1120px) {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}

.highlightTitle {
  color: #BEBE22;
}

.carouselItem {
  cursor: pointer;

  @media screen and (min-width: 500px) {
    padding: 1rem;
  }

  .carouselImage {
    display: block;
    width: 100%;
  }

  .carouselTitle {
    font-size: 1rem;
    margin: 0;
    padding: .7rem 0;
  }
}
