.root {
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.withBackground {
    background-color: #000;
  }
}

.navMenu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;

  @media only screen and (min-width: 800px) {
    display: flex;
  }

  li {
    a {
      color: #BEBE22;
      padding: 15px;
    }
  }
}

.logoContainer {
  cursor: pointer;

  .logo {
    display: block;
    height: 35px;

    @media screen and (min-width: 800px) {
      height: 45px;
    }
  }
}
